<!DOCTYPE html>
<html>
<head>
    <title>Beacon Map Selection</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="../static/gg/map_js_css/js_css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <link href="../static/gg/map_js_css/style.css" rel="stylesheet" />
    <script>
        document.oncontextmenu = function (e) {
            console.log(e.button);
            if (e.button == 2) {
                e.preventDefault();
                return false;
            }
        }
        //Intitialize map on DOM load
        document.addEventListener("DOMContentLoaded", function (event) {
            initMap();
        });

        //Global variables
        var HeatmapGlobal = function () {
            var HeatmapExt = {
                heatmap: '../static/gg/map_js_css/heatmap.json',
                icons: '../static/gg/map_js_css/icon.json'
            };
            return HeatmapExt;
        }();
    </script>
    <style type="text/css">
    </style>
</head>
<body>
    <div class="container">
        <div class="pac-card col-md-12">
            <div>
                <div id="title">Beacon Map Selection</div>
                <div id="type-selector" class="pac-controls">
                    <!---
                              <input type="radio" name="type" id="changetype-all" checked="checked">
                              <label for="changetype-all">All</label>

                              <input type="radio" name="type" id="changetype-establishment">
                              <label for="changetype-establishment">Establishments</label>

                              <input type="radio" name="type" id="changetype-address">
                              <label for="changetype-address">Addresses</label>


                              <input type="radio" name="type" id="changetype-geocode">
                              <label for="changetype-geocode">Geocodes</label>
                            </div>
                            <div id="strict-bounds-selector" class="pac-controls">
                              <input type="checkbox" id="use-strict-bounds" value="">
                              <label for="use-strict-bounds">Strict Bounds</label>
                            </div>
                    --->
                    <div id="alert_place"></div>
                </div>
                <div class="addressSearchBox">
                    <input id="pac-input" placeholder="Enter a location" type="text">
                    <button class="Button Button--round Button--default">Search</button>
                </div>
            </div>
            <br>

            <div id="map" class="col-md-12"></div>

            <div id="infowindow-content">
                <img src="" width="16" height="16" id="place-icon">
                <span id="place-name" class="title"></span><br>
                <span id="place-address"></span>
            </div>
            <!---TimeLine Section Begin--->
            <section id="cd-horizontal-timeline"></section>
            
            <!---Location Table--->
            <table class="table-fill" id="tblLocation">
                <thead>
                    <tr>
                        <th class="text-left">Date</th>
                        <th class="text-left">Longitude</th>
                        <th class="text-left">Latitude</th>
                    </tr>
                </thead>
                <tbody class="table-hover">                   
                </tbody>
            </table>

            <br />
            <br />
            <br />
        </div>
    </div>    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmWX0-q2XOLGVD69-MQQSM-r8-9R1CWi4&libraries=visualization,places"></script>    
    <script src="../static/gg/map_js_css/js_css/jquery.min.js"></script>
    <script src="../static/gg/map_js_css/timeline.js"></script>    
    <script src="../static/gg/map_js_css/heatmap.js"></script>
    <script src="../static/gg/map_js_css/gmaps-heatmap.js"></script>    
    <script src="../static/gg/map_js_css/js_css/jquery-3.1.1.slim.min.js"  integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>    
    <script src="../static/gg/map_js_css/js_css/tether.min.js"  integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>    
    <script src="../static/gg/map_js_css/js_css/bootstrap.min.js"  integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="../static/gg/map_js_css/custom.js"></script>    
    <script src="../static/gg/map_js_css/js_css/lodash.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
